nav{
    height: 70px;
    display:flex;
    background-color:white;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section{
    padding: 20px;
}
.hero-main{
    display: flex;
    flex-direction: column;
}

.hero-photo-grid{
    /* height: 250px;
    width: auto;
    align-items: center;
    padding: 60px; */
    max-width: 400px;
    align-self: center;
}

.hero-header{
    font-size: 40px;
    margin-bottom: 16px;

}
.hero-para{
    margin-top: 0;
}