
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


nav{
    height: 70px;
    display:flex;
    background-color:white;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section{
    padding: 20px;
}
.hero-main{
    display: flex;
    flex-direction: column;
}

.hero-photo-grid{
    /* height: 250px;
    width: auto;
    align-items: center;
    padding: 60px; */
    max-width: 400px;
    align-self: center;
}

.hero-header{
    font-size: 40px;
    margin-bottom: 16px;

}
.hero-para{
    margin-top: 0;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto; 
    display: flex; 
    flex-direction: column; 
    position:relative
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card--image{
    border-radius: 9px;
    margin-bottom: 9px;
    width: "100%";
}

.card--badge{
    position:absolute;
    background: white;
    font-weight: bold;
    top: 6px;
    left: 6px;
    padding: 5px 7px;
    border-radius: 3px;
}